<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<title>
			Flow chart
		</title><link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<style type="text/css">
			* {
				padding: 0px;
				margin: 0px;

				font-family: arial;
				box-sizing: border-box;
				overflow: hidden;
			}

			.container {
				position: relative;
				width: 100vw;
				height: 100vh;
			}

			.head {
				height: 40px;
				position: absolute;
				top: 0px;

				width: 100%;
				
			}

			.body {
				top: 40px;
				position: absolute;
				bottom: 0px;
				height: auto;
				right: 0px;
				left: 200px;
			}

			.nav {
				top: 40px;
				position: absolute;
				bottom: 0px;
				height: auto;
				width: 200px;
				border-right: 1px solid #bbb;
				left: 0px;
			}


			.element {
				cursor: pointer;
			}

			.tag {
				display: none;
				min-width: 50px;
				min-height: 30px;
				border: 1px solid #555;
				position: absolute;
				left: 1300px;
				top: 30px;
				background-color: #555;
				color: #fff;
				text-align: center;
				padding: 5px 3px;
				border-radius: 6px;
				font-size: .8em;
				z-index: 1000;
				overflow: visible
			}

			.tag:before,
			.tag:after {
				content: "";
				display: block;
				border-width: 1px;
				position: absolute;
				bottom: -20px;
				left: 20px;
				border-style: solid dashed dashed;
				border-color: #555 transparent transparent;
				font-size: 0;
				line-height: 0;
				border-width: 10px;
				z-index: 1001;
			}

			.tag:after {
				bottom: -19px;
				z-index: 1002;
				border-color: #555 transparent transparent;
			}

			.iframedrag {
				background-color: silver;
				cursor: move;
				padding: 2px 4px;
			}

			.el-card__body {
				padding: 5px;
			}
            .el-date-editor { width:auto!important;
            }
			.nhl{ color: gray;}
			.hl{ color:steelblue;}
			.play{ cursor: pointer;}
		</style>
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="./css/common.css">
		<link rel="stylesheet" type="text/css" href="css/flawchart.css" />
		<script src="./js/_.js"></script>
		<script src="./js/axios.min.js">
		</script>
		<!--<script src="js/draw.min.js">
		</script>
		<script src="./js/drag.js">
		</script>-->
		<script type="text/javascript" src="js/com/svg.js">

		</script>
		<script type="text/javascript" src="js/com/svg.draggable.js">

		</script>
		<script src="./js/z.js">
		</script>
		<script src="./json/example.js">

		</script><script src="https://unpkg.com/vue/dist/vue.js"></script>

<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<!--<script src="http://cvpmdsip03/tools/js/vue.js"></script>
		<script src="http://cvpmdsip03/tools/element-ui/lib/index.js"></script>


		<script src="http://cvpmdsip03/tools/element-ui/lib/umd/locale/en.js"></script>-->
	</head>
	<body>
		<div class="container">
			<div class="head" id="app">
				<el-row :gutter="20" style="height: 39px;">
					<el-col :span="17">
						<i class="el-icon-menu" title="Show/Hide Menu" ></i>
						<span class="DashboardTitle" >WIP Distribution Diagram</span>
					</el-col>
				
				 <el-col :span="4">
				                        <el-select multiple filterable v-model="searchList" size="mini" placeholder="Search..." style="width:100%;">
				                            <el-option v-for="item in allNode"
				                                       :key="item"
				                                       :label="item"
				                                       :value="item">
				                                <span style="float: left">{{ item}}</span>
				                               <!-- <span style="float: right; color: #8492a6; font-size: 13px">{{ item.id }}</span> -->
				                            </el-option>
				                        </el-select>
				                    </el-col>
									<el-col :span='1'>
										<el-dropdown>
				  <span class="el-dropdown-link">
				  <i class="el-icon-more el-icon--right" id='morebut'></i>
				  </span>
				  <el-dropdown-menu slot="dropdown">
				    <el-dropdown-item >
						<span  @click="dlimg">
						<i  id='downloadimg' title="Download this graph" class="el-icon-picture lst"></i>Srceenshot</span>
										</el-dropdown-item>
				  
				    <el-dropdown-item>
						<span  @click="remember">
						<i class='el-icon-location-outline' id='rem_layout' title="Remember my layout lst"   ></i>Save layout</span>
									</el-dropdown-item>
									    <el-dropdown-item >
											<span   @click="rmv" v-if="layout.length>10">
											<i class='el-icon-delete lst err-red' id='rmv_layout' title="Remove current layout"  ></i>Clear layout
													</span></el-dropdown-item>
									
				   
				  </el-dropdown-menu>
				</el-dropdown>
										
									</el-col>
				           
					
				</el-row>
				<el-row><el-col :span=24>
				<el-progress :show-text='!1' color='steelblue'  :stroke-width="1" :percentage="pct"></el-progress>
				</el-col></el-row>
			</div>
			<div id="left" class="nav">
				<template>
					<el-collapse v-model="activeName" accordion>
						<el-collapse-item title="Color code definition" name="1">
							<div>
								<el-switch style=" padding: 2px 4px" v-model="setAll"
								
								 active-color="steelblue" inactive-color="#ddd">
								</el-switch>
								<label style="color: steelblue;">ClearAll</label>
							</div>


							<div category='Shape' class="definition">
								<div class="card" v-for="df in definition.shape"
								@click="dfclick(df)"
								 :class="dflist.indexOf(df.type)>-1&&'noselected'"
								 :title='df.type'>
									<div class="card-head">
										<image :key="df.DefinedItem" :src="'./icon/'+df.type+'.png'"></image>
									</div>
									<div class='card-body'>{{df.type}}</div>
									<i class="number">{{df.Number}}</i>
								</div>
							</div>

							<div category='Color' class="definition">
								<div class="card" v-for="df in definition.color" 
								 @click="dfclick(df)" 
								  :class="dflist.indexOf(df.type)>-1&&'noselected'"
								 :title='df.type'>
									<div class="card-head">
										<span class="ColorRect" :style="`background-color:${df.type}`"></span>
									</div>
									<div class='card-body'>{{df.DefinedItem}}</div>
									<i class="number">{{df.Number}}</i>
								</div>
							</div>
							<div category='arrow' class="definition">
								<div class="card" v-for="df in definition.arrow" 
								 :class="dflist.indexOf(df.type)>-1&&'noselected'"
								:title='df.type' @click="dfclick(df)">
									<div class="card-head" v-html='arrow(df)'>

										<!-- <span class="ColorRect" :style="`background-color:${df.type}`"></span> -->
									</div>
									<div class='card-body'>{{df.DefinedItem}}</div>
<i class="number">{{df.Number}}</i>
								</div>
							</div>

			
			</el-collapse-item>
			<el-collapse-item title="Parameters" name="2">
				<div>

					<el-select v-model='params.a' multiple filterable size="mini" placeholder="Workorder Type" style="width:90%; margin-left: 5%;">
						<el-option v-for="item in ['a','b','c']" :key="item" :label="item" :value="item">
							<span style="float: left">{{ item}}</span>
							<span style="float: right; color: #8492a6; font-size: 13px">{{ item }}</span>
						</el-option>
					</el-select>
					<el-select v-model='params.b' multiple filterable size="mini" placeholder="Product Family" style="width:90%; margin-left: 5%;">
						<el-option v-for="item in ['a','b','c']" :key="item" :label="item" :value="item">
							<span style="float: left">{{ item}}</span>
							<span style="float: right; color: #8492a6; font-size: 13px">{{ item }}</span>
						</el-option>
					</el-select>
				</div>

			</el-collapse-item>
                        <el-collapse-item title="Simulation" name="3">
                            <el-row>
                                <el-col :span="6">  Start</el-col>
                                <el-col :span="18">
									<input  v-model="starttime"  type="date" >
								<!-- 	<el-date-picker   format="MM-dd HH:mm"
                type="datetime" size="mini" v-model="starttime"
                placeholder="">
</el-date-picker> --></el-col>
                              
                              
                            </el-row><el-row>
                                         <el-col :span="6">   End</el-col>
                                         <el-col :span="18">
											<!-- <el-date-picker v-model="endtime" size="mini" format="MM-dd HH:mm"
                type="datetime"
                placeholder="">

</el-date-picker> -->
	<input  v-model="endtime"  type="date" >
</el-col>
  <el-col :span="6">   Interval</el-col>
    <el-col :span="18">
 										
 	<select  v-model="interval"  >
		<option v-for="a in [100,200,300,400,500,800,1000]" :value="a">{{a}}</option>
	</select>
 </el-col>
   
</el-row>
<!-- <el-row >
             <div align="right">
                
                 <el-button @click='simulation' type="primary" size="mini"
				  :disabled="smltdis"
				  style="background-color:steelblue" round>Simulation</el-button>
				  
				  
             </div>
</el-row> -->
      
			<el-row >
				 <div align="right">
				<!-- <el-col :span="16"><b>{{crttm}}</b> </el-col> -->
				<el-col :span="24" align=right>
					<span class="material-icons play" title="Play"  :class="PauseText=='pause_circle_outline'?'hl':'nhl'"
					:disabled="PauseText!=='pause_circle_outline'"
					  @click="simulation">play_circle_outline</span>
					 <span class="material-icons play" title="Pause" :class="PauseText=='pause_circle_outline'?'nhl':'hl'"
					 :disabled="PauseText=='pause_circle_outline'"
					   @click="pause">pause_circle_outline</span>
					 
					  <i class="material-icons" style=" 
					  cursor:pointer" title="Repeat":class="loop?'hl':'nhl'"  @click="loop=!loop">repeat</i>
				<!-- 	<el-button type="primary" size="mini"
				
				  style="background-color:steelblue" round @click="pause">{{PauseText}}</el-button> -->
				</el-col>
				</div>
			</el-row>			   
</el-collapse-item>
			</template>

		</div>
		<div class="body" id="box" svg>


		</div>
		<div class="tag" id="tooltip"></div>
		</div>

		<script type="text/javascript" src="js/flowchart.js" defe>

		</script>
		<script type="text/javascript" defer>
			let tmr=[];
			var Main = {
				data() {
					return {
						loop:false,
                        starttime: "2019-10-01",
                        endtime: "2019-10-03",
						PauseText:"pause_circle_outline",
						crttm:"",
						startint:1,
						interval:"500",
						activeName: '1',
						setAll: false,
						smltdis:false,
						params:{
							a:"",
							b:""
						},
						dflist:[],
						definition: {
							"shape": [{
									"type": "Hexagon",
									"DefinedItem": "Hexagon",
									"Number": "3"
									,"Selected":false
									
								}, {
									"type": "Rect",
									"DefinedItem": "Rect",
									"Number": "2","Selected":true
								},{
									"type": "Image",
									"DefinedItem": "Image",
									"Number": "5","Selected":true
								},
								{
									"type": "Circle",
									"DefinedItem": "Circle",
									"Number": "5","Selected":true
								},
								{
									"type": "Iframe",
									"DefinedItem": "iframe",
									"Number": "5","Selected":true
								}
							],
							"color": [{
									"type": "steelblue",
									"DefinedItem": "Normal",
									"Number": "6","Selected":true
								}, {
									"type": "gray",
									"DefinedItem": "Idle",
									"Number": "4","Selected":true
								},
								{
									"type": "red",
									"DefinedItem": "Alarm",
									"Number": "6","Selected":true
								}
							],
							"arrow": [{
								"type": "R5",
									"width": "5",
									"DefinedItem": "High","Selected":true

								},
								{	"type": "R4",
									"width": "4",
									"DefinedItem": "Normal","Selected":true

								},
								{	"type": "R3",
									"width": "3",
									"DefinedItem": "Normal","Selected":true

								},
								{	"type": "R2",
									"width": "2",
									"DefinedItem": "Normal","Selected":true

								},
								{	"type": "R1",
									"width": "1",
									"DefinedItem": "Low","Selected":true

								}
							]
						}
					}
				},
				mounted(){
					
					var that=this;
					that.render(that.dflist,true)
				}
				,
				watch:{
					dflist(val){
						this.render(val)
						
					},
                setAll(val) {
                    var arr = [],that=this;
                    this.definition.shape.map(n => {
                        arr.push(n.type);
                        return n;
                    });
					this.definition.color.map(n => {
					    arr.push(n.type);
					    return n;
					});
					this.definition.arrow.map(n => {
					    arr.push(n.type);
					    return n;
					});
					setTimeout(function(){
						  val ? that.dflist = [...arr] : that.dflist = [];
						
					},100)
               
                }
					
				},
				methods:{
					render(val,init){
						var that=this;
						dflen=that.definition.shape.length+
						that.definition.color.length+that.definition.arrow.length;
						 val.length==dflen && (that.setAll = true)
						 val.length ==0 && (that.setAll = false) ;
						Z('.element').each(function(){
							Z(this).removeClass('noselected');
						})
						val.map(n=>{
							Z(`[type='${n}'],[fill='${n}']`).each(function(){
							//	console.log(Z(this)[0])
								Z(this).addClass('noselected');
							})
						})
						if(init){
							this.definition.shape.map(n => {
							   n.Number=Z(`#box [type='${n.type}']`).length
							    return n;
							});
							this.definition.color.map(n => {
							    n.Number=Z(`#box [type][fill='${n.type}']`).length
							    return n;
							});
							this.definition.arrow.map(n => {
							   n.Number=Z(`#box [type='${n.type}']`).length
							    return n;
							});
						}
					},
					dfclick(df){
						let that=this, item=df.type;
						that.dflist.includes(item) ?
						    (that.dflist = _.remove(that.dflist, n => { return n !== item })) :
						    that.dflist.push(item);
						
					},
					repect(){},
					pause(){
						var that=this;
						if(that.PauseText=="pause_circle_outline"){
							//that.starttime=that.crttm;
							that.PauseText="play_circle_outline";
							
						}else{that.PauseText="pause_circle_outline";
							that.show();
							
						}
					},
					show(){
						var that=this;
						let s=+new Date(that.starttime),
						e=+new Date(that.endtime),
						unit=1000*60*60,						
						len=(e-s)/unit;
						that.smltdis=true;
						tmr=[];
						for(let i=that.startint;i<len+2;i++){
							console.log(i)
						
					tmr.push(	setTimeout(function(d,a,b){
							if(that.PauseText!=='pause_circle_outline'){
								tmr.map(n=>{clearTimeout(n);})
								
								return;
							}
								that.crttm=new Date(s+i*unit).format("yyyy-MM-dd hh:mm:ss");//yyyy-MM-dd hh:mm:ss
								let S=0;
								d.NodeDataset.map(n=>{
								n.Size=Math.floor( Math.random()*30+50);
								S=S+n.Size;
								n.BackGroundColor=["#00b88c","#4394d6","#f06"][Math.floor(Math.random()*3)];
							delete	n.element;
							delete	n.text;
								return n;
							})
							rawdata.Description.subTitle=`Snapshot:${that.crttm} -- Total WIP:${S}`;
							
							d.DataDataset.map(n=>{
								n.Size=Math.floor( Math.random()*5+1);
								n.Color=["#00b88c","#4394d6","#f06"][Math.floor(Math.random()*3)];
								n.Label=["NodeDataset","DataDataset","simulation"][Math.floor(Math.random()*3)];
								delete	n.element;
								delete	n.text;
								return n;
							})
							delete window.net;
							window.net=new Net();
							
							b.pct=i/(len+1)*100;
							//
							that.startint=i;
							console.log(that.startint)
							if(i==len+1){that.smltdis=false;that.startint=1;
							if(that.loop){that.show();}
							}
						},that.interval*(i-that.startint+1),rawdata,that,headvue)	)
							
						
					}},
					simulation(){
					 var that=this;
					 that.PauseText='pause_circle_outline';
						//   this.$confirm('Start simulation?', 'Notice', {
						//   confirmButtonText: 'Yes',
						//   cancelButtonText: 'No',
						//   type: 'warning'
						// }).then(() => {
						that.show();
					//	})
						
					},
					arrow(df) {
						
					let a=	'<svg width="25px" height="25px"> <defs> <marker id="arrow" refx="0" refy="1"';
					     a+='   orient="auto" markerUnits="strokeWidth">';
					 a+='    <path d="M0,0 L0,2 L2,1 z" fill="#000" /> </marker> </defs>';
					 a+='  <line x1="0" y1="12" x2="10" y2="12" stroke="#000" stroke-width="'+df.width+'" ';
					     a+='    marker-end="url(#arrow)" /> </svg>'; return a;
					}
				}

			}
			var Ctor = Vue.extend(Main);
			var app = new Ctor().$mount('#left');
			let head={
				methods:{dlimg(){
					
					var that=this;
								   this.$confirm('Download this graph?', 'Notice', {
					  confirmButtonText: 'Yes',
					  cancelButtonText: 'No',
					  type: 'warning'
					}).then(() => {
					  //
					  try{
					  localStorage.setItem('img',JSON.stringify({
						  name:Math.random().toString(36).substr(2),
						  width:svg.attr('width'),
						  height:svg.attr('height'),
						  src:document.getElementById('box').innerHTML.replace(/\n/g,'').replace(/^\s+/g,'')//unescape(encodeURIComponent(document.getElementById('box').innerHTML))
						  
					  }));
					  window.open('./dlimg.html?_=','_blank');}catch(e){
					  	//TODO handle the exception
						that.err[e.message]=e.stack;
						 this.$notify({
					  title: e.message,
					  message: e.stack,
					  type:'error',
					  position: 'bottom-right'
					});
						that.$forceUpdate();
					  }
					  //
					}).catch(() => {
					           
					});
					
				},
					remember(){
						   this.$confirm('You\'ll save current layout on your browser?', 'Notice', {
									  confirmButtonText: 'Yes',
									  cancelButtonText: 'Close',
									  type: 'warning'
									}).then(() => {
									  //
									  let layout=[]	,data=[];				  
									  // JSON.parse(localStorage.getItem('layout')||'[]'),
									  // ind=_.findIndex(layout,function(o){return o.params==net.queryObject.ChartConfigPath}),
										  
										  
									// data= [...document.querySelectorAll('.element:not(.child)')].map(n=>{
									// 	 let cxy=[+n.getAttribute('x'),+n.getAttribute('y')];
									// 	 return {
									// 	  id:n.getAttribute('id'),
									// 	  center:((net.ele[n.getAttribute('id').id()].parent().attr('transform')||'(0,0)').match(/\((.+)\)/)[1]||'0,0').split(',').slice(-2).map((c1,indx)=>{return +c1+cxy[indx]})
									//   }}) 
									 // [crx,cry]=((net.ele[n].parent().attr('transform')||'(0,0)').match(/\((.+)\)/)[1]||'0,0').split(',').slice(-2).map(c1=>{return +c1})
								  
									/*  data=[...net.nodesRaw].map(n=>{return {id:n.id,center:n.center}});*/
									
									//data=[...rawdata.NodeDataset];
									
									rawdata.NodeDataset.map((n,i)=>{
										data[i]={'Id':n.Id,
										'location':n.location};
										
										return n});
									  
										  layout.push({params:'flowchart1',data:data})	
											localStorage.setItem('layout',JSON.stringify(layout));
									   this.$message({
						  message: 'Save success.',
						  type: 'success'
						});
									
									}).catch(() => {
									           
									});
						
					},
					rmv(){
						 this.$confirm('You\'ll clear current layout on your browser?', 'Notice', {
						  confirmButtonText: 'Yes',
						  cancelButtonText: 'Close',
						  type: 'error'
						}).then(() => {
							localStorage.layout=[];
							location.reload();
							
						})
						
					}},
					data(){
                        return {
                           layout:''+localStorage.layout,
								searchList:'',
							allNode:[],
							pct:12
						}
					}
			}
		let Ctor1 = Vue.extend(head);
			var headvue = new Ctor1().$mount('#app');
			
			Date.prototype.format = function(fmt) { 
     var o = { 
        "M+" : this.getMonth()+1,                 //月份 
        "d+" : this.getDate(),                    //日 
        "h+" : this.getHours(),                   //小时 
        "m+" : this.getMinutes(),                 //分 
        "s+" : this.getSeconds(),                 //秒 
        "q+" : Math.floor((this.getMonth()+3)/3), //季度 
        "S"  : this.getMilliseconds()             //毫秒 
    }; 
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt; 
}
		</script>
	</body>
</html>
