*{ font-family: arial;  box-sizing: border-box;}

.fl-table {

	border-collapse: collapse;

	margin: 0 auto;

	text-align: center;

	width: 100%;
}

.fl-table td,
.fl-table th {

	border: 1px solid #cad9ea;

	color: #666;
position: relative;
	height: 30px;
	

}

.fl-table th {

	background-color: #333;
	color: #fff;


}

.fl-table th {

	background-color: #333;
	color: #fff;


}

.fl-table th:first-letter {
	text-transform: uppercase
}

.fl-table tr:nth-child(odd) {

	background: aliceblue;

}

.fl-table tr:nth-child(even) {

	background: #fff;

}
.fl-table td span{ position: relative; display: block; height: 100%;

}
/*************KPI****************/
	

			.fl-KPI-container {
				display: inline-block;
				margin: 5px;
				border-radius: 7%;
				float: left;
				background: #fbfbfb;
				/* width: 200px;
				height: 140px; */
				box-shadow: 2px 2px 4px #ccc;
				transition: all .4s;
			}
			.fl-tag {
			          
			           min-width: 50px;
			           min-height: 30px;
			           border: 1px solid #555;
			           position: absolute;
			           left: 1300px;
			           top: 30px;
			          /* background-color: #fff;
			           color: #555; */
									background-color: #333;
									 color: #fff!important;
			           text-align: center;
			           padding: 5px 3px;
			           border-radius: 6px;
			           font-size: .8em;
			           z-index: 1000;
			           overflow: visible
			       }
						
			           .fl-tag:before, .fl-tag:after {
			               content: "";
			               display: block;
			               border-width: 1px;
			               position: absolute;
			               bottom: -20px;
			               left: 20px;
			               border-style: solid dashed dashed;
			               border-color: #555 transparent transparent;
			               font-size: 0;
			               line-height: 0;
			               border-width: 10px;
			               z-index: 1001;
			           }
						
			           .fl-tag:after {
			               bottom: -19px;
			               z-index: 1002;
			              border-color: #333 transparent transparent;
			               /* border-color: #fff transparent transparent; */
			           }
					   .fl-row { margin-top: 4px;}
					   
					   .fl-desc {
					   	height: 18px;
					   	display: inline-block;
					   	font-family: arial;
					   	font-size: 14px;
					   	line-height: 18px;
					   	width: 47%;
					   	background-color: steelblue;
					   	color: #fff;
					   
					   	text-align: center;
					   	vertical-align: middle;
					   	position: relative;
					   	overflow: hidden;
					   
					   }
					   
					   .fl-desc:first-letter {
					   	//color: gold;
					   	/* font-weight: bold; */
					   
					   }
					   
					   .fl-desc-::before {
					   	position: absolute;
					   	content: '';
					   	height: 0;
					   	width: 0;
					   	top: 0px;
					   	left: 0px;
					   	font-size: 0;
					   	line-height: 0;
					   	border-color: #fff steelblue transparent transparent;
					   	border-style: solid solid dashed dashed;
					   	border-width: 18px 18px 0 0;
					   }
					   
					   .fl-desc::after {
					   	position: absolute;
					   	content: '';
					   	height: 0;
					   	width: 0;
					   	top: 0px;
					   	right: 0px;
					   	font-size: 0;
					   	line-height: 0;
					   	border-color: steelblue #fff transparent transparent;
					   	border-style: solid solid dashed dashed;
					   	border-width: 18px 18px 0 0;
					   }
					   
					   .fl-star-box {
					   	position: relative;
					   	vertical-align: middle;
					   	display: inline-block;
					   	height: 18px;
					   	width: 52%;
					   	border-bottom: 1px solid steelblue;
					   	border-top: 1px solid steelblue;
					   	line-height: 15px;
					   	z-index: 3;
					   	margin-left: -36px;
					   	padding-left: 36px;
					   	padding-right: 20px;
					   	overflow: visible; 
					   }
					   
					   .fl-star-box-::before {
					   	position: absolute;
					   	content: '';
					   	height: 0;
					   	width: 0;
					   	top: 0px;
					   	right: 1px;
					   	font-size: 0;
					   	line-height: 0;
					   	border-color: #fff transparent transparent transparent;
					   	border-style: solid solid dashed dashed;
					   	border-width: 16px 16px 0 0;
					   	z-index: 3;
					   }
					   
					   .fl-star-box-::after {
					   	position: absolute;
					   	content: '';
					   	height: 0;
					   	width: 0;
					   	top: 0px;
					   	right: 0px;
					   	font-size: 0;
					   	line-height: 0;
					   	border-color: steelblue #fff transparent transparent;
					   	border-style: solid solid dashed dashed;
					   	border-width: 17px 16px 0 0;
					   }
					   
					   .fl-star-box .material-icons {
					   	font-size: 14px;
					   }
					   
					   .fl-star-box .fl-star {
					   	color: gold;
					   	display: inline-block;
					   
					   	margin-right: 2px;
					   	cursor: pointer;
					   	float: left;
					   }
					   
					   .fl-star-box .fl-user {
					   	font-size: 13px;
					   	color: #353535;
					   }
					   
					   .fl-star-box [fl-nhl] {
					   	color: #B2B2B2;
					   }
					   
					   .fl-card {
					   
					   	height: calc(100% - 14px);
					   	display: inline-block;
					   	position: relative;
					   width: 100%;
					   	padding: 0px;
					   	background: #fff;
					   	/* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
					   
					   
					   
					   
					   	/* background-image: url('https://www.highcharts.com/samples/graphics/sand.png'); 
					   	background-repeat: repeat;*/
					   }
					   
					   /* 	.fl-card::before,
					   .fl-card::after {
					   	position: absolute;
					   	content: "";
					   	top: 10px;
					   	bottom: 15px;
					   	left: 10px;
					   	width: 50%;
					   	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
					   	-webkit-transform: rotate(-3deg);
					   	-moz-transform: rotate(-3deg);
					   	-o-transform: rotate(-3deg);
					   	-ms-transform: rotate(-3deg);
					   	transform: rotate(-3deg);
					   	z-index: -1;
					   }
					   
					   .fl-card::after {
					   	right: 10px;
					   	left: auto;
					   	-webkit-transform: rotate(3deg);
					   	-moz-transform: rotate(3deg);
					   	-o-transform: rotate(3deg);
					   	-ms-transform: rotate(3deg);
					   	transform: rotate(3deg);
					   } */
					   
					   
					   .fl-card-head {
					   	height: 41.2%;
					   	min-height: 136px; text-align: center;
					   }
					   
					   .fl-card-head img {
					   	width: 100%;
					   	height: 100%;
					   	object-fit: cover;
					   	margin: 0px;
					   }
					   
					   .fl-card-foot {
					   	height: 40px;
					   	position: absolute;
					   	bottom: 0px;
					   }
					   
					   .fl-card-body {
					   	position: absolute;
					   	padding: 8px;
					   	overflow-y: auto;
					   	top: 41.2%;
					   	bottom: 40px;
					   	left: 0px;
					   	right: 0px;
					   width: 100%;
					   }
					   .fl-menu{ font-size: 12px; position: absolute;
					   right: 0px;
					   top: 20px;
					   border: 1px solid #bbb;
					   background-color: #fff;
					   padding: 4px; cursor: pointer; display: none;
					   transition: all 1s; 
					   }
					   .fl-menu span{ display: block; cursor: pointer;}
					   .fl-menu span:hover{ color: blue}
					   
					   
					   .cal-date {
					   	border: 1px solid #eee;
					   }
					   
					   .cal-dates span {
					   	vertical-align: top;
					   	padding: 2px;
					   	display: inline-block;
					   }
					   
					   .cal-dates .cal-date {
					   	text-align: left;
					   	overflow: visible;
					   }
					   
					   .cal-weekend {
					   	color: gray;
					   }
					   
					   .cal-date div {
					   	margin: 0px 2px;
					   	padding: 1px 3px;
					   	font-size: .7em;
					   	color: #343434;
					   }
					   
					    .steelblue {
					   	background-color: steelblue;
					   }
					   
					    .green {
					   	background-color: green;
					   }
					   
					    .gray {
					   	background-color: gray;
					   }
					   .cal-title{ width: 100%;font-weight: bold; font-size: 20px;}
					   .cal-text{width: 100%;}
					   .definition{ display: inline-block; height: 20px; line-height: 20px; vertical-align: middle;
					   padding: 0px 6px;  font-size: 10px; float: right;
					   }
					   .definition:hover{ background: #dfdfdf;}
					   .definition i{ display: inline-block; width: 32px; height: 20px; font-size: 14px; line-height: 20px; color: #fff;
					   text-align: center; font-style: normal;
					   }
					   .definition-gray{ opacity: 0.5;}
					    .tag {
					              
					               min-width: 50px;
					               min-height: 30px;
					               border: 1px solid #555;
					               position: absolute;
					               left: 1300px;
					               top: 30px;
					              /* background-color: #fff;
					               color: #555; */
					   			background-color: #333;
					   			 color: #fff!important;
					               text-align: center;
					               padding: 5px 3px;
					               border-radius: 6px;
					               font-size: .8em;
					               z-index: 1000;
					               overflow: visible
					           }
					   
					               .tag:before, .tag:after {
					                   content: "";
					                   display: block;
					                   border-width: 1px;
					                   position: absolute;
					                   bottom: -20px;
					                   left: 20px;
					                   border-style: solid dashed dashed;
					                   border-color: #555 transparent transparent;
					                   font-size: 0;
					                   line-height: 0;
					                   border-width: 10px;
					                   z-index: 1001;
					               }
					   
					               .tag:after {
					                   bottom: -19px;
					                   z-index: 1002;
					                  border-color: #333 transparent transparent;
					                   /* border-color: #fff transparent transparent; */
					               }
								   .fl-circle{
									    display:inline-block;
									       position:relative;
									      height: 100%;
										  width: 100%;
									       overflow:hidden;
									       border-radius:50%;
								   }
								   .fl-circle img{
								       width:auto;
								       height:100%;
								       margin-left:-50%;
								   }
					  